
  <table class="table table-hover">
    <thead>
    <tr>
      <th></th>
      <th>Average</th>
    </tr>
    </thead>

    <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= item %> </td>
        <td><%= item.average_rating.round(1) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
